# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgres://postgres.[YOUR_DATABASE]:[YOUR_PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?schema=dev&pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgres://postgres.[YOUR_DATABASE]:[YOUR_PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres?schema=dev"

# Better Auth
BETTER_AUTH_SECRET=
NEXT_PUBLIC_BASE_URL="http://localhost:3000"