@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--PrimaryAccentColor: rgb(200, 47, 30);
  --SecondaryAccentColor: rgb(125, 26, 15);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: #ccc;
  position: relative;
}

input[type="range"]::before {
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  right: calc(100% - var(--range-progress, 0%));
  background: var(--PrimaryAccentColor);
  border-radius: 15px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #f50;
  border-radius: 50%;

  border: none;
  transition: .2s ease-in-out;
  position: relative;
  z-index: 2;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: var(--PrimaryAccentColor);
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
  position: relative;
  z-index: 2;
}

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(200, 47, 30, .1)
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(200, 47, 30, .2)
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(200, 47, 30, .2)
}


input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(200, 47, 30, .1)
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(200, 47, 30, .2)
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(200, 47, 30, .2)
}
/* rgb(251 146 60) */
body {
  background: #101010;
  color: white;
	overflow-x: hidden;
  max-width: 1700px;
  position: relative;

}

.cl-socialButtonsBlockButton {
  background: white;
}
.cl-socialButtonsBlockButton:hover {
  background: white;
  opacity: 0.8
}

.cl-card {
  border: 2px solid rgba(148, 163, 184, 0.1);
  overflow: hidden;
}


canvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 8px;
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #545454;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff00;
}

